<% provide :title, t("static-pages.home.title") %>
<h1><%= t "static-pages.home.title" %></h1>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render "shared/user_info" %>
      </section>
      <section class="micropost_form">
        <%= render "shared/micropost_form" %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3><%= t "microposts.tittle" %></h3>
      <%= render "shared/feed" %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h2>
      <%= link_to t("layouts.rails"), Settings.rails_host.host %>
    </h2>
    <%= link_to t("static-pages.home.signup"),
      signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  <%= link_to image_tag("rails.png", alt: "Rails logo"),
    Settings.rails_host.host %>
<% end %>
