<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size:Settings.microposts.size), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    <%=raw t("microposts.time_ago",
      time:time_ago_in_words(micropost.created_at)) %>
    <% if current_user.was?(micropost.user) %>
      <%= link_to t("microposts.delete"),
        micropost, method: :delete, data: {confirm: t("users.alert.sure")} %>
    <% end  %>
  </span>
</li>
